@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

/* Reset */

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		background-color: #FFFFFF;
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}



body {
    margin: 0px;
}

	body, input, select, textarea {
		font-family: "Droid Serif", serif;
		font-size: 15pt;
		color: #1B0C07;
}


#navToggle {
	/* width: 56px; */
	height: 56px;
	/* background-position: top left; */
	/* background-repeat: no-repeat; */
	/* height: 100%; */
	display: inline-flex;
	color: white;
	text-decoration: none;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	font-size: 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

#navLinks {
	z-index: 10;
	top: 56px;
}

#siteLinks li {
		display: flex !important;
}

#siteLinks li a {
	padding-left: 30px;
}

@media screen and (max-width: 750px) {
	#navToggle:before {
	  font-size: 120%;
	}
	
	#navToggle {
	  width: 56px;
	}
	
	div#navLinks {
		display: none;
		position: fixed;
	}

	nav:hover #navLinks {
		display: block;
	}
	
	nav li:before {
		width: 0px;
		font-size: 80%;
	}

	#pageLinks li {
		display: flex !important;
	}
	
	#pageLinks li a {
	    padding-left: 30px;
	}
	
	nav li {
		padding-top: 10px;
		padding-bottom: 10px;
		flex-direction: row;
		padding-right: 8px;
		/* justify-content: center; */
		/* align-content: center; */
		height: 40px;
		align-items: center;
		/* border-bottom: 1px solid rgba(0,0,0,0.1); */
	}

}
@media screen and (min-width: 750px) {
	#navToggle, #siteLinks {
	  margin-left: 16px;
	}

	#navToggle:before {
	  font-size: 160%;
	}
	
	#navToggle {
		margin-top: 6px;
	}

	#navLinks { 
		position: relative;
	}
	
#pageLinks li {
    padding: 10px;
	border-top: 0px;
}
	
	#siteLinks {
		display: none;
	}

	nav:hover #siteLinks {
		display: block;
		position: fixed;
		top: 60px;
	}
	
	#pageLinks li:before {
		display: block;
		opacity: 0.4;
		color: black;
	
		font-size: 220%;
		margin-bottom: -32px;
		background-color: rgba(0,0,0,0.1);
}

	#pageLinks li a {
		position: relative;
	
		/* background-color: rgba(0,0,0,0.33); */
		text-shadow: 1px 0px 4px black;
		letter-spacing: 1px;
}
}

nav:hover #navToggle, #navLinks {
    background-color: #402A1A;
}

nav ul {
    display: block;
    padding-left: 6px;
    margin: 0;
    color: white;
    padding-right: 5px;
}

nav li a {
    text-decoration: none;
    font-family: "Open Sans";
    margin: 0;
    color: white;
    font-weight: 100;
    /* margin: 0px 10px 0px 10px; */
}

nav li + li {
    border-top: 1px solid rgba(0,0,0,0.1);
}

nav li a {
    font-size: 12px;
    position: relative;
}

nav a, #want {
    color: #FFFFFF;   text-decoration: none;    cursor: pointer;    
    font-size: 0.8em;    
    /* font-weight: 600; */    letter-spacing: 2px;     text-transform: uppercase;    /* opacity: 0.8; */   font-family: "Open Sans";
    /* font-weight: 100; */
}

#siteLinks:first-child {
    border-top: 1px solid black;
}

#reel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 6px 6px 0px 6px;
}

	div#title {
		display: block;
		height: 70px;
		margin-top: -72px;
}

@media screen and (max-width: 750px) {
#reel { 
    background-color: #1B0C07;
}

#banner {
	max-height: 450px;
	border-bottom: 2px solid #1B0C07;
}

	div#title {
		margin-right: 80px;
		z-index: 2;
		color: black;
}
}
@media screen and (min-width: 750px) {
#reel { 
  right: 16px;
  z-index: 2;
  /* background-color: rgba(0,0,0,0.1); */
}

#reel img {
        margin-left: 6px;
}

#banner {
	height: 100%;
	position: fixed;
	top: 0;
}

#title {
	position: fixed;
	top: 300px;
	width: 100%;
	color: rgba(255,255,255,0.8);
}

}

#banner {
		overflow: hidden;
		min-height: 200px;
}

#big {
		width: 100%;
}

	@keyframes pan {
		0% {
			transform: translate3d(0,0,0);
		}

		100% {
			transform: translate3d(0,-100px,0);
		}
	}

#want, #reel img {
	height: 50px;
}

#want {
	padding: 0 2px 0 2px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transition: border-radius 0.2s ease-in-out;
	background-color: #ed4933;	
}

#want:hover {
	border-radius: 0;
}

#wantform {
    display: none;
    padding-left: 8px;
    background-color: #ed4933;
    z-index: 1;
    /* position: relative; */
    /* top: -8px; */
    padding-top: 16px;
    color: white;
    position: absolute;
    width: 100%;
    /* margin-top: 2px; */
    padding-bottom: 25px;
    /* border-right: 6px solid transparent; */
    /* box-sizing: content-box; */
    right: 6px;
    /* display: flex; */
    border-left: 6px solid transparent;
}

.wanting #wantform {
    display: block;
}

.wanting #want {
    /* border-bottom: none !important; */
    /* margin-right: 0px; */
    /* bottom: 0px; */
    /* bottom: -2px; */
    border-radius: 0px;
    /* padding-right: 6px; */
    /* padding-bottom: 12px; */
    /* box-sizing: content-box; */
    /* padding-top: 6px; */
    /* position: relative; */
    /* top: 2px; */
    /* right: 0px; */
    /* padding-right: 6px; */
    /* border-width: 2px 2px 0px 2px; */
    /* border-color: #1B0C07 #1B0C07 transparent #1B0C07; */
    /* border-style: solid; */
    /* box-sizing: content-box; */
    padding-top: 4px;
    /* margin-right: -2px; */
    padding-bottom: 4px;
    /* margin-top: -58px; */
    /* background-color: #402A1A; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#offer {
    margin-bottom: 20px;
    line-height: 40px;
}

input[type=text], input[type=email], select, #price {
	background-color: transparent;
	border-bottom: 1px dotted rgb(255, 255, 255);
    border-width: 0px 0px 1px 0px;
}

#price input {
	border: none;
}

#price, input::-webkit-input-placeholder, select {
	color: #1B0C07;
}

#assurance {
    font-size: 70%;
    display: inline;
    font-style: italic;
    letter-spacing: 0.3px;
}




#nutrition {
    /* width: 100%; */
    /* margin: 6px; */
}

	
@media screen and (min-width: 750px) {

	/*
    #bannerInner {
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.2), rgba(0,0,0,0.22));
        padding-top: 260px;
        text-align: center;
        width: 100%;
        height: 140px;
    }
    */

    #big {
        animation: pan 240s linear infinite alternate;
		backface-visibility: hidden;
    }
}
    	
@media screen and (max-width: 750px) {
    #big {
        /* position: absolute; */
        min-width: 100%;
    
        /* top: 0; */
        /* max-height: 450px; */
        margin-top: 50px;
}



    #title h1 {
        z-index: 3;
        text-shadow: 1px 0px rgba(0,0,0,0.3);
        /* display: none; */
    
        /* position:  absolute; */
        /* bottom: 0px; */
        /* left: 6px; */
        /* align-self: flex-end; */
        font-size: 70px;
        /* line-height: 0px; */
        color: rgb(255, 255, 255);
        font-style: italic;
        line-height: 0px;
        font-family: "Droid Serif";
        display: inline;
        font-weight: normal;
        background-color: rgba(97, 81, 66, 0.39);
        padding-left: 6px;
        position: relative;
}

    #want {
        box-sizing: content-box;
        z-index: 2;
        /* text-align: right; */
    
        border-radius: 5px;
        width: 70px;
        /* align-self: flex-end; */
        /* margin-right: 6px; */
        position: absolute;
        margin-top: -56px;
        right: 6px;
        /* z-index: 4; */
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        /* margin-right: 6px; */
        /* margin-bottom: 6px; */
        /* display: none; */
}

    #want, #reel img {
        /* border-color: white; */
        /* border-width: 0 1px 1px 0; */
        /* border-style: solid; */
    
        margin-left: 6px;
}

    #description .name {
        font-weight: bold
    }

    #description .name:after {
        content: '. '
    }
}

@media screen and (min-width: 750px) {
	#title h1 {
		font-weight: 100;
	
		text-align: center;
		font-size: 70px;
		font-style: italic;
}
}

#titleStrut {
    height: 70px;
    display: inline-block;
    /* z-index: -2; */
}

section#description {
    padding: 6px;
}

section#description {
    line-height: 140%;
    padding: 6px;
    z-index: 2;
}

#price {
    display: inline-flex;
    height: 33px;
    /* align-content: space-around; */
    align-items: baseline;
}

#price input {
    flex: 1;
}

#tagline {
    background-color: rgba(210, 159, 99, 0.2);
    /* display: inline-block; */
    padding: 25px 6px 17px 6px;
    margin: 0px 0 0px 0;
    font-size: 110%;
    opacity: 0.7;
    /* font-style: italic; */
    line-height: 150%;
}

input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.41);
    border: none;
    border-radius: 3px;
    color: white;
    height: 30px;
    cursor: pointer;
}


#assurance a {
    display: inline-block;
    color: white;
    background-color: rgba(0,0,0,0.3);
    padding: 4px;
    text-decoration: none;
    border-radius: 3px;
}

#assurance li {
    display: inline;
}

#assurance li + li::before {
    content: '\2022';
    color: rgba(0,0,0,0.8);
    padding: 0px 4px 0px 4px;
}

#assurance ul {
    margin: 0 5px 0 0;
    display: inline;
    padding: 0;
}

div#relief {
    background-image: url('http://stanschaap.com/wp-content/uploads/images/Wet-Meadow-in-Winter-With-Cattle.jpg');
    width: 100%;
    background-size: cover;
    height: 280px;
    display: flex;
    align-items: center;
    padding: 20px;
}

#relief p {
    line-height: 200%;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    text-align: center;
    font-size: 110%;
    font-style: italic;
}

#highlights li {
    margin-bottom: 15px;
    font-size: 80%;
}

#highlights li:before {
    /* margin-bottom: 10px; */
    content: '\2611';
    opacity: 0.5;
    margin-right: 5px;
}

section#details {
    /* -webkit-column-width: 300px; */
    margin: 6px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

ul#highlights {
    padding: 0px;
    -webkit-column-width: 200px;
}

img#logo {
    width: 200px;
    display: inline;
    float: left;
}